*{
    margin: 0;
    padding: 0;
    font-family:  Poppins;
    
}
body{
    background-color: rgb(162, 164, 167);   
}


#heading{
    height:fit-content;
    background-color: rgb(15, 15, 15);
    
}
#heading nav>ul{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    float: right;
    clear: both;
    margin-bottom: 2px;
    margin-top: 5px;
    padding-right: 10%;
}
hr{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(8, 8, 8);
    color: rgb(20, 20, 20);
    opacity: 0.2;
    
  }


  .centered{
      padding: 10%;
      padding-right: 10%;
  }
  .centered .userInput{
      display: flex;
     

  }
  .centered .userInput div>img{
      max-width: 600px;
      padding-right: 10px;
  }
  .centered .userInput div>input{
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #050505;
    border: 1px solid rgb(187, 185, 185);
    border-radius: 10px;
}
.centered .userInput  button{
    background-color: black;
    color: #FFAC12;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    height: 15%;
    border-radius: 0px 10px 0px 0px;
    
  }
  .rectangle{
    max-width: 620px;
    min-width: 620;
    display: flex;
    flex-wrap: nowrap;
  
  }
  .rectangle img{
    width: 70px;
    min-width: 70px;
    padding: 8px;

  }

  table,tr,td,caption{
    width: 580px;
    text-align: start;
    border: none;
    
  }
  table{
    background-color: rgb(224, 221, 221);
    /* border-radius: 0px 0px 10px 10px; */
  }
  #right{
    border-radius: 0px 0px 15px 0px;
    margin-left: 0;
  }
  #left{
    border-radius: 0px 0px 0px 15px;
  }
  td{padding: 8px;
    margin-top: 0;
    text-align: center;
    border: none;
    background-color: white;
  }
  caption{
    margin-top: 10px;
    padding: 8px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
  }
  #leftRight{
    border-radius: 0px 0px 15px 15px;
  }
 

.material-icons{
    font-size: 1px;
    color: rgb(73, 71, 71);
  }
    
    
    .Footer{
      background-color: black;
      height: 10%;
      color: white;
      padding: 30px;
      padding-left: 10%;
      padding-right: 10%;
      margin-bottom: 0;
      margin-top: 8%;
      
    }
    .Footer #footerHeading{
      font-size: 30px;
    }
    .Footer section{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .Footer> section button, #navB{
        background-color:#FFAC12;
        color: #050505;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        border-radius: 0px 10px 0px 0px;
        
      }
    .Footer span{
      color: #FFAC12;
      font-weight: bold;
      margin-left: 60px;
    }
    .Footer hr{
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: rgb(252, 248, 250);
      color: aliceblue;font-weight: 0;
      
    }
    .Footer > .bottomMost{
      display: flex;
      justify-content:space-evenly;
        
    }
    .Footer > .bottomMost li, li{
      padding: 10px;
      list-style: none;
      color: rgb(121, 122, 122);
    }
    .SocialMedia{
        display: inherit;
        align-items: center;
    }
  
    .fa {
      padding: 25px;
      font-size: 40px;
      width: 0px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }
    .SocialMedia .fa:hover {
        opacity: 0.8;
        color: red;
        font-size: 50px;
    }
    
    .SocialMedia>.fa-facebook,.fa-instagram ,.fa-twitter {
      color: white;
    }
    
  