*{
    margin: 0;
    padding: 0;
    font-family:  Poppins;
}

#topSection{
    background-image: url(../images/moving\ 1.png);
    
    background-size:cover;
    height: 100vh;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    color: white;
}
nav{
    margin-left: 10px;
}
nav > ul{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    text-decoration: none;
    margin-right: 30px;
    
    color: white;
    
}
nav > ul>li{
    
    padding: 15px;
    margin-left: 20px;
    font-size: larger;
    list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
#login1{
    background-color: #FFAC12;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 4px;
}
#login2{
    background-color: #070707;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 4px;
    color: #FFAC12;
}
#topSection > #topDescription{
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    clear: right;
}
#topSection > #topDescription > #div1{

    color: #FFAC12;
    /* font-weight: bold; */
    margin-left: 2%;
    margin-bottom: 30px;
   
    font-size: 6vh;
} 

#topSection > #topDescription > #div2{
    color: white;
    font-weight:400;
    margin-left: 2%;
    margin-bottom: 1px;
    font-size: 4vh;
    padding-bottom: 1vh;
}
#cutTheHustle{
    display: flex;
    margin-top: 60px;
  }
  #cutTheHustle img{
    width: 50vw;
    max-width: 500px;
    height: auto;
    margin-right: 50px;
  }
  #cutTheHustle >#HustleText{
    padding-top: 8%;
  }
  #cutTheHustle h1{
    font-size: xx-large;
    font-family: Adamina;
  }
  #cutTheHustle >#HustleText>.descr{
    color: rgb(14, 13, 13, 0.7);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #cutTheHustle >#HustleText button{
    background-color: black;
    color: #FFAC12;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 0px 10px 0px 0px;
    
  }
  .line{
    height: 3px;
    background-image: linear-gradient(to right,yellow,black);
    width: 100px;
    margin-bottom: 15px;
  
  }
  .topMovers{
    background-color: rgb(169, 172, 171);
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  
  }
  .topMovers .line{
    margin-left: 10%;
  }
.topMovers h1{
  font-size: xx-large;
  font-family: Adamina;
  margin-bottom: 7%;
  margin-left: 10%;
}
  .cards{
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      margin-left: 15%;
      margin-right: 10%;
      
    
  }
  .singleCard{
      margin-left: 20px;
      margin-right: 10px;
      background-color: rgb(248, 247, 247);
      width:fit-content;
      max-width: 300px;
      min-width: 180px;
      border-radius: 17px 17px 0px 0px;
  }
  .singleCard img{
      width: 100%;
     
  }
  .pictureIcons{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: rgb(120, 120, 122);
      margin-top: 2px;
      
  }
  .pictureIcons a{
    text-decoration: none;
  }
  .pictureIcons> #left{
    width: 33%;
    margin-right: 1px;
    background-color: white;
    margin-top: 1px;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 0px 0px 10px;
    display: inherit;
  }
  .pictureIcons> #right{
    width: 33%;
    margin-right: 1px;
    background-color: white;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px 0px 10px 0px;
    display: inherit;
    align-items: center;
  }
  .pictureIcons> #center{
    width: 33%;
    margin-right: 1px;
    background-color: white;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 5px;
    display: inherit;
  }
  .pictuDescr{
    height: 6vh;
    background-color: white;
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
.material-icons{
  font-size: 1px;
  color: rgb(73, 71, 71);
}
  
  
  .Footer{
    background-color: black;
    height: 10%;
    color: white;
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0;
    margin-top: 8%;
    
  }
  .Footer #footerHeading{
    font-size: 30px;
    display: flex;
  }
  .Footer span{
    color: #FFAC12;
    font-weight: bold;
  }
  .Footer hr{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(252, 248, 250);
    color: aliceblue;
    font-weight: 0;
    opacity: 0.2;
    
  }
  .Footer > .bottomMost{
    display: flex;
    justify-content:space-evenly;
      
  }
  .Footer > .bottomMost li{
    padding: 10px;
    list-style: none;
    color: rgb(121, 122, 122);
  }
  .SocialMedia{
      display: inherit;
      align-items: center;
      margin-left: 5%;
  }

  .fa {
    padding: 25px;
    font-size: 40px;
    width: 0px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .SocialMedia .fa:hover {
      opacity: 0.8;
      color: red;
      font-size: 50px;
  }
  
  .SocialMedia>.fa-facebook,.fa-instagram ,.fa-twitter {
    color: white;
  }




  /* RESPONSIVENESS */



@media only screen and (max-width:800px) {
  nav{
    margin-left: 2px;
    margin-right: 0;
}
nav > ul{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    text-decoration: none;
<<<<<<< HEAD
    margin-right: 10px;
    margin-top: 2%;
    margin-left: 2px;
    padding-top: 5px;
=======
    margin-right: 0px;
    margin-top: 2%;
    margin-left: 2px;
>>>>>>> adfb232635082da93912627484bc1891f0f91509
    
    color: white;
    /* helps make navigation responsive*/
    
}
nav > ul>li{
    
    padding: 0;
    margin-left: 10px;
    font-size: smaller;
    margin-left: 20px;
    font-size: xx-small;
    list-style: none;
}

#login1{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: smaller;
}
#login2{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
<<<<<<< HEAD
    margin-right: 0px;
=======
    margin-right: 5px;
>>>>>>> adfb232635082da93912627484bc1891f0f91509
    font-size: smaller;

}
#topSection > #topDescription{
    padding-top: 12%;
    clear: right;
}
#topSection > #topDescription > #div1{
    margin-bottom: 30px;
   
    font-size: 5vh;
} 

#topSection > #topDescription > #div2{
   
   
    margin-bottom: 1px;
    font-size: 4vh;
    padding-bottom: 1vh;
    padding-left: 2px;
}
#cutTheHustle h1{
  font-size: large;
  font-family: Adamina;
}
#cutTheHustle >#HustleText>.descr{
  margin-bottom: 20px;
  font-size: small;
}
#cutTheHustle >#HustleText button{
  
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
 
  
}
.topMovers{
  background-color: rgb(169, 172, 171);
  padding-top: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
 

}


.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}
.singleCard{
  margin-bottom: 15px;
}
.material-icons{
  font-size: 30px;
  color: rgb(73, 71, 71);
}
.Footer #footerHeading{
  font-size: 30px;
  flex-direction: column;
}
.SocialMedia{
  margin-left: 10px;
}
.SocialMedia .fa:hover {
  opacity: 0.8;
  color: red;
  font-size: 30px;
}

.SocialMedia>.fa-facebook,.fa-instagram ,.fa-twitter {
color: white;
}
.Footer > .bottomMost li{
  padding: 10px;
  padding-right: 0;
  list-style: none;
  font-size:x-small;
  color: rgb(121, 122, 122);
}

}


/* tablet */


@media only screen and (max-width:800px) {
  nav{
    margin-left: 1px;
    margin-right: 1%;
}
nav > ul{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    text-decoration: none;
    margin-right: 0px;
    margin-top: 2%;
    margin-left: 2px;
    
    color: white;
    /* helps make navigation responsive*/
    
}


#login1{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#login2{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;

}
#topSection > #topDescription{
    padding-top: 12%;
    clear: right;
}
#topSection > #topDescription > #div1{
    margin-bottom: 30px;
   
    font-size: 4vh;
} 

#topSection > #topDescription > #div2{
   
   
    margin-bottom: 1px;
    font-size: 3vh;
    padding-bottom: 1vh;
    padding-left: 2px;
}
#cutTheHustle h1{
  font-size: large;
  font-family: Adamina;
}
#cutTheHustle >#HustleText>.descr{
  margin-bottom: 20px;
  font-size: small;
}
#cutTheHustle >#HustleText button{
  
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
 
  
}
.topMovers{
  background-color: rgb(169, 172, 171);
  padding-top: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
 

}
.topMovers .line{
  margin-left: 15%;
}
.topMovers h1{
font-size: xx-large;
font-family: Adamina;
margin-bottom: 7%;
margin-left: 15%;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}
.singleCard{
  margin-bottom: 15px;
  margin-left: 30%;
}
.material-icons{
  font-size: 30px;
  color: rgb(73, 71, 71);
}
.Footer #footerHeading{
  font-size: 30px;
  flex-direction: column;
}

}


