*{
    margin: 0;
    padding: 0;
}
#topSection{
    background-image: url(../images/moving\ 1.png);
    
    background-size:cover;
    height: 130vh;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    color: white;
}
nav > ul{
    margin-top: 20px;
    display: flex;
    float: right;
    clear: left;margin-right: 30px;
    color: white;
    
}
nav > ul>li{
    
    padding: 15px;
    margin-left: 20px;
    font-size: larger;
    list-style: none;
}
#login1{
    background-color: #FFAC12;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 4px;
}
#login2{
    background-color: #070707;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 4px;
    color: #FFAC12;
}
#topSection > #topDescription{
    display: flex;
    flex-direction: column;
    padding-top: 12%;
    clear: right;
}
#topSection > #topDescription > #div1{

    color: #FFAC12;
    /* font-weight: bold; */
    margin-left: 2%;
    margin-bottom: 30px;
   
    font-size: 7vh;
} 

#topSection > #topDescription > #div2{
    color: white;
    font-weight:400;
    margin-left: 2%;
    margin-bottom: 1vh;
    font-size: 4vh;
}
#cutTheHustle{
    display: flex;
    margin-top: 20px;
  }
  #cutTheHustle img{
    width: 50vw;
    height: auto;
    margin-right: 50px;
  }
  #cutTheHustle >#HustleText{
    padding-top: 15%;
  }
  #cutTheHustle >#HustleText>.descr{
    color: rgb(14, 13, 13, 0.7);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #cutTheHustle >#HustleText button{
    background-color: black;
    color: #FFAC12;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 0px 10px 0px 0px;
    
  }
  .line{
    height: 2px;
    background-image: linear-gradient(to right,yellow,black);
    width: 100px;
    margin-bottom: 15px;
  
  }